<?xml version="1.0"?>
<launch>

    <!-- <node pkg="data_collection" type="data_collection.py" name="data_collection" output="screen" /> -->

    <arg name="robot_ip" default="172.16.0.2"/>
    <arg name="load_gripper" default="True"/>
    <arg name="noserver" default="0"/>

    <!-- CONTROLLER -->
    <include file="$(find franka_control)/launch/franka_control.launch">
        <arg name="robot_ip" value="$(arg robot_ip)"/>
        <arg name="load_gripper" value="$(arg load_gripper)" />
    </include>

    <!-- MOVE IT -->
    <include file="$(find panda_moveit_config)/launch/panda_moveit.launch" />

    <!-- RVIZ -->
    <!-- <include file="$(find panda_moveit_config)/launch/moveit_rviz.launch" /> -->


</launch>
